    <%- include('partials/header') %>
    <h1>Vamos con EJS!</h1>
    <div class="container p4">
      <div class="row text-center">
        <div class="col col-4">
          <div class="card">
            <div class="card-header">
              Hola
            </div>
            <div class="card-body">
              <form class="form-container" action="http://www.google.com" method="get">
                <a href="/g" class="btn btn-primary block">Genericos</a>
                <a href="/p" class="btn btn-primary block">Periodo</a>
                <a href="/pr" class="btn btn-primary block">Precio</a>
                <a href="/c" class="btn btn-primary block">Consumo</a>
                <a href="/i" class="btn btn-primary block">Inicio</a>
              </form>
            </div>

          </div>

        </div>

      </div>
    </div>

  </body>
</html>
